@use "presets" as *;
@use "mixins" as *;

html {
  font-size: $font-size;
}
body {
  overflow-y: scroll;

  font-family: $font-main;
  font-size: 1rem;
}
a {
  color: $color-primary;
  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}
section {
  position: relative;
  overflow: hidden;
}
